.navBar {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #eaeaeb;
  background: url("../../../assets/images/game_bg.png");
}

#logo {
  display: inline-block;
  background: url("../../../assets/images/logo-1.png");
  background-size: cover;
  margin: 12px 10px 12px 32px;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

#heading {
  flex: 4;
  padding: 10px 0px 8px 10px;
  height: 60px;
  font-size: 1.4em;
  font-weight: bold;
}

a {
  text-decoration: none;
  margin-left: 60px;
}
